/* body {
  background-color: black !important;
} */

.container {
  margin-top: 100px;
}

.row {
  padding-bottom: 20px;
}

a:hover {
  text-decoration: none;
}

.opal {
  position: relative;
  overflow: hidden;
  height: 40px;
  min-width: 80px;
  max-width: 200px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* letter-spacing: 2px; */
}

.opal-solid {
  padding-top: 6px;
}

.opal:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 400px;
  left: -50px;
  top: -200px;
  background: linear-gradient(135deg, #ff0000b0 19%, #0000ff80 80%, #00a2ff50 90%) no-repeat;
  
  -webkit-animation: pan360 10s infinite, sway 8s infinite;
  
  animation: pan360 10s infinite, sway 8s infinite;
  animation-timing-function: linear;
  opacity: 1;
  /* background-color: none; */
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

.opal-rainbow:before {
  background: linear-gradient(to bottom right, rgba(255, 255, 0, .85) 10%, rgba(255, 0, 0, .75), rgba(255, 0, 0, .75), rgba(0, 255, 0, .75) 19%, rgba(0,0,255,.65) 40%, rgba(255, 0, 0, .65), rgba(255, 255, 0, .85) 80%), 
    linear-gradient(to top right, rgba(255, 255, 0, .85) 10%, rgba(255, 0, 0, .75), rgba(0, 255, 0, .75) 25%, rgba(0,0,255,.65) 40%, rgba(255, 0, 0, .65), rgba(255, 255, 0, .85) 80%);
  -webkit-animation: pan360 10s infinite;
  animation: pan360 10s infinite, sway 8s infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

.opal-rainbow2:before {
  background: linear-gradient(to top right, rgb(255, 102, 0), rgba(255, 0, 0, 0.733), rgba(192, 26, 192, 0.984), rgba(50, 0, 205, 0.449), 
  teal,green,rgba(0,0,255, .5)), linear-gradient(to bottom right, orange, rgba(0,0,255,.6), yellow);
    /* linear-gradient(to top right, ); */
}

.opal-bright:before {
  background: linear-gradient(to bottom right, rgba(0, 255, 255, 0.719),rgba(255, 0, 255, 0.719), rgb(255, 255, 0)), linear-gradient(to top right, rgba(0, 255, 255, 0.719),rgba(255, 0, 255, 0.719), rgb(255, 255, 0));
}  

.opal-inner {
  margin: 4px;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  border-radius: 3px;
  background-color: #ffffff50;
  padding-top: 2px;
}

.opal-soften {
  height: 100%;
  width: 100%;
  background-color: #ffffff50;
}

.opal:hover:before {
  -webkit-animation: pan360 5s infinite;
  animation: pan360 5s infinite;
  animation-timing-function: linear;
}

.opal-rainbow:hover:before {
  -webkit-animation: pan360 4s infinite;
  animation: pan360 4s infinite;
  animation-timing-function: cubic-bezier(.7, 0.84, .9, .75);
}

a:hover {
  text-decoration: none !important;
}

.active:before {
  /* opacity: .5; */
  /* background: green; */

  background: linear-gradient(30deg, rgba(50, 205, 50, 0.747),rgba(0, 128, 0, 0.788), rgb(0, 87, 0));
  -webkit-animation: sway 3s infinite, pan360 3s infinite;
  animation: sway 3s infinite, pan360 3s infinite;
  /* animation-direction: alternate; */
  animation-timing-function: linear;
}

.active:hover:before {
  -webkit-animation: success 1s infinite;
  animation: success 1s infinite;
  animation-direction: alternate;
}

@keyframes pan {
  to {
    transform: rotate(90deg);
  }
}

@keyframes pan360 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes sway {
  from {
    top: -200px;
    left: -50px;
  }
  to {
    top: -300px;
    left: -100px;
  }
  to {
    top: -200px;
    left: -50px;
  }
}

@keyframes success {
  to {
    transform: rotate(60deg);
  }
}

@keyframes settle {

}

@keyframes toActive {
  from {
    background: green;
    opacity: .5;
  }
  to {
    background: linear-gradient(0deg, #0a8b0620 19%, #0bca0530 50%, #00ff0d9c),
    linear-gradient(90deg, black, green 80%, black 80%, green);
    opacity: 1;
  }
}

@keyframes color-fade-out {
  from {
    background: linear-gradient(135deg, #ff000050 19%, #0000ff80 50%, #ff000050),
    linear-gradient(90deg, orange, red, yellow);
    opacity: 100%;
  }
  to {
    opacity: 20%;
  }
}

@keyframes color-fade-in {
  from {
    background: linear-gradient(0deg, #0a8b0620 19%, #0bca0530 50%, #00ff0d9c),
    linear-gradient(90deg, black, green 80%, black 80%, green);
    opacity: 20%;
  }
  to {
    opacity: 100%;
  }
}