* {
  font-family: "Catamaran", sans-serif;
}

.container {
  margin-top: 50px;
}

.button-row {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-fluid {
  padding: 0px !important;
  position: relative !important;
}

code {
  font-size: 20px !important;
  text-align: center !important;
  display: inline-block;
  padding: 10px 30px 10px 30px;
  border: rgba(128, 128, 128, 0.411) 2px solid;
  border-radius: 5px;
  margin: 30px;
}

table {
  /* text-align: left; */
  /* display: inline-block; */
}

.fill {
  width: 100%;
  text-align: center;
}

.opal-header .container {
  margin-top: 35px;
}

a {
  color: #ffffffb0 !important;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: white !important;
}

p {
  font-size: 24px;
}

h2 {
  font-weight: 700 !important;
}

.text-left {
  width: 420px;
  margin: 10px;
}

.shadow-test {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow-test::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow-test:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.shadow-test:hover::after {
  opacity: 1;
}