/* General Properties */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.isolate {
  margin: 30px;
}

/* Outer Element Properties */

.opal,
.opal-header {
  position: relative;
  display: inline-block;
  overflow: hidden;
  min-height: 40px;
  height: 40px;
  min-width: 80px;
  max-width: 200px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  opacity: 1;
  margin-bottom: 20px;
  text-align: center;
}

.opal:hover {
  color: white;
}

.opal:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 400px;
  left: -50px;
  top: -200px;
  background: linear-gradient( 135deg, #ff0000b0 19%, #0000ff80 80%, #00a2ff50 90%) no-repeat;
  -webkit-animation: pan360 5s infinite, sway 8s infinite;
  animation: pan360 5s infinite, sway 8s infinite;
  animation-timing-function: linear;
}

.opal-header {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 200px;
  border-radius: 0px;
  /* color: #ffffffb0; */
  color: white;
  text-align: left;
}

.opal-header h1 {
  font-size: 70px;
}

.opal-header:before {
  content: "";
  position: absolute;
  z-index: -1;
  min-width: 600px;
  min-height: 600px;
  width: 130vw;
  height: 130vw;
  top: -50vw;
  left: -20vw;
  background: linear-gradient( 135deg, #ff0000b0 19%, #0000ff80 80%, #00a2ff50 90%) no-repeat;
  -webkit-animation: pan360 10s infinite, headerSway 8s infinite ease-in-out;
  animation: pan360 10s infinite, headerSway 8s infinite ease-in-out;
  animation-timing-function: linear;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.opal-header:hover {
  color: white;
}

.opal-header:hover:before {
  opacity: 0.9;
  -webkit-animation: pan360 5s infinite, headerSway 8s infinite ease-in-out;
  animation: pan360 5s infinite, headerSway 8s infinite ease-in-out;
  animation-timing-function: linear;
}

/* Color Gradient Presets */

.opal-light,
.opal-light:hover {
  color: rgb(24, 24, 24);
}

.opal-rainbow:before {
  background: linear-gradient( to bottom right, rgba(255, 255, 0, 0.85) 10%, rgba(255, 0, 0, 0.75), rgba(255, 0, 0, 0.75), rgba(0, 255, 0, 0.75) 19%, rgba(0, 0, 255, 0.65) 40%, rgba(255, 0, 0, 0.65), rgba(255, 255, 0, 0.85) 80%), linear-gradient( to top right, rgba(255, 255, 0, 0.85) 10%, rgba(255, 0, 0, 0.75), rgba(0, 255, 0, 0.75) 25%, rgba(0, 0, 255, 0.65) 40%, rgba(255, 0, 0, 0.65), rgba(255, 255, 0, 0.85) 80%);
}

.opal-rainbow-soft:before {
  background: linear-gradient( to top right, rgb(255, 102, 0), rgba(255, 0, 0, 0.733), rgba(192, 26, 192, 0.984), rgba(50, 0, 205, 0.449), teal, green, rgba(0, 0, 255, 0.5)), linear-gradient(to bottom right, orange, rgba(0, 0, 255, 0.6), yellow);
}

.opal-bright:before {
  background: linear-gradient( to bottom right, rgba(0, 255, 255, 0.719), rgba(255, 0, 255, 0.719), rgb(255, 255, 0)), linear-gradient( to top right, rgba(0, 255, 255, 0.719), rgba(255, 0, 255, 0.719), rgb(255, 255, 0));
}

.opal-dark:before {
  /* background: linear-gradient( to bottom right, black, rgb(43, 0, 43), rgb(0, 5, 68), black); */
  background: linear-gradient(to bottom right, black, rgb(56, 56, 56), rgba(1, 1, 1, 0.733), rgba(83, 83, 83, 0.438));
}

.opal-light:before {
  background: linear-gradient( to bottom right, rgb(255, 189, 65), rgb(255, 255, 41), rgb(90, 255, 255), rgb(255, 134, 154));
}

.opal-awake:before {
  /* background: linear-gradient( to bottom right, rgb(255, 189, 65), rgb(255, 255, 41), rgb(90, 255, 255), rgb(255, 134, 154)); */
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.opal-awake:hover {
  border-color: transparent;
}

.opal-awake:hover:before {
  opacity: .9;
}

/* Inner Element Properties */

.opal-solid {
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.opal-soften {
  height: 100%;
  width: 100%;
  background-color: #ffffff50;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.opal-framed {
  margin: 2px;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  border-radius: 3px;
  background-color: #ffffff50;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.opal:hover:before {
  -webkit-animation: pan360 2s infinite;
  animation: pan360 2s infinite;
  animation-timing-function: linear;
}

.opal .opal-soften:hover {
  background-color: #ffffff2f;
}

.opal .opal-framed:hover {
  background-color: #ffffff2f;
}

.opal-rainbow:hover:before {
  -webkit-animation: pan360 2s infinite;
  animation: pan360 2s infinite;
  animation-timing-function: cubic-bezier(0.7, 0.84, 0.9, 0.75);
}

.opal-success:before {
  background: linear-gradient( 30deg, rgba(50, 205, 50, 0.747), rgba(0, 128, 0, 0.788), rgb(0, 87, 0));
  -webkit-animation: sway 3s infinite, pan360 3s infinite;
  animation: sway 3s infinite, pan360 3s infinite;
  animation-timing-function: linear;
}

.opal-success:hover:before {
  -webkit-animation: success 1s infinite;
  animation: success 1s infinite;
  animation-direction: alternate;
}

.opal-outline {
  border-color: rgb(167, 167, 167);
  border-style: solid;
  color: black;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}

.opal-clear:before {
  margin-bottom: 0px;
  background: #ffffff2a;
}

/* Animations */

@keyframes pan {
  to {
    transform: rotate(180deg);
  }
}

@keyframes pan360 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes sway {
  from {
    top: -200px;
    left: -50px;
  }
  to {
    top: -300px;
    left: -100px;
  }
  to {
    top: -200px;
    left: -50px;
  }
}

@keyframes headerSway {
  from {
    top: -50vw;
    left: -20vw;
  }
  to {
    top: -45vw;
    left: -15vw;
  }
  to {
    top: -50vw;
    left: -20vw;
  }
}

@keyframes success {
  to {
    transform: rotate(60deg);
  }
}